body {
  background-color: #444;
}

.wrapper {
  display: grid;
  grid-template-columns: 20% 2fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  justify-items: stretch;
  align-items: stretch;
}
.wrapper > div {
  padding: 1em;
  /* text-align: center; */
}
/* .wrapper > div:nth-child(odd) {
  background: #ddd;
} */

.box-1 {
  grid-column: 1/4;
  grid-row: 1/3;
  background-image: url("images/coronavirus-bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(8px); */
}

.box-1 h1 {
  width: 250px;
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 60px;
}

.box-2 {
  grid-column: 1;
  grid-row: 3/19;
  background-color: #bfc4dc;
  border-radius: 8px;
  box-shadow: 6px 6px 18px;
  width: 80%;
  font-family: "Inria Sans", sans-serif;
  align-self: start;
  justify-self: center;
}

.side-menu-collapse {
  font-family: "Inria Sans Bold", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: crimson;
}

.side-menu-collapse i {
  padding-left: 15px;
}

.side-menu-collapse:hover {
  text-decoration: none;
  color: crimson;
}

.summary-list-item p {
  margin: 12px 28px;
  font-size: 1.4rem;
  font-weight: 700;
}

.box-2 h4,
h3 {
  font-family: "Inria Sans Bold", sans-serif;
  font-weight: 700;
}

.box-2 ul {
  list-style-type: none;
  padding-left: 10px;
}

.box-3 {
  grid-column: 2/4;
  grid-row: 3/6;
  background-color: #26263e;
  width: 95%;
  border-radius: 8px;
  box-shadow: 6px 6px 18px #000;
  margin-bottom: 30px;
}

.box-3 h2 {
  font-family: "Inria Sans Bold", sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 25px 25px 35px;
}

.carousel-item {
  padding: 2% 15%;
}

user-card {
  width: 28%;
  margin: auto;
}
.state-summary-deck {
  /* width: 95%; */
  margin: auto;
}

.card {
  font-family: "Inria Sans", sans-serif;
  border-radius: 8px;
  box-shadow: 6px 6px 18px #000;
}

.box-4 {
  grid-column: 2/4;
  grid-row: 6/10;
  background-color: #26263e;
  width: 95%;
  border-radius: 8px;
  box-shadow: 6px 6px 18px #000;
  color: #fff;
  margin-bottom: 30px;
}

.table {
  width: 90%;
  margin: auto;
  box-shadow: 6px 6px 18px #000;
  border-radius: 8px;
}

.table tbody {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.box-5 {
  grid-column: 2/4;
  grid-row: 10/14;
  background-color: #26263e;
  width: 95%;
  border-radius: 8px;
  box-shadow: 6px 6px 18px #000;
  color: #fff;
  margin-bottom: 30px;
}

.box h2 {
  font-family: "Inria Sans Bold", sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 25px 25px 35px;
}

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box-6 {
  grid-column: 2/4;
  grid-row: 14/19;
  background-color: #26263e;
  width: 95%;
  border-radius: 8px;
  box-shadow: 6px 6px 18px #000;
  color: #fff;
  margin-bottom: 30px;
}
